<gb-new-contact-one (sendTab)="saveEvent($event)" *ngIf="tabOne" [ngClass]="tabView === 1 ? '' : 'display-none'"></gb-new-contact-one>
<gb-new-contact-two (sendTab)="saveEvent($event)" *ngIf="tabTwo" [ngClass]="tabView === 2 ? '' : 'display-none'"></gb-new-contact-two>
<gb-new-contact-three (sendTab)="saveEvent($event)" *ngIf="tabThree" [ngClass]="tabView === 3 ? '' : 'display-none'"></gb-new-contact-three>
<gb-new-contact-four (sendTab)="saveEvent($event)" *ngIf="tabFour" [ngClass]="tabView === 4 ? '' : 'display-none'"></gb-new-contact-four>
<gb-new-contact-five (sendTab)="saveEvent($event)" *ngIf="tabFive" [ngClass]="tabView === 5 ? '' : 'display-none'"></gb-new-contact-five>
<gb-new-contact-six (sendTab)="saveEvent($event)" *ngIf="tabSix" [ngClass]="tabView === 6 ? '' : 'display-none'"></gb-new-contact-six>

<!--<div  *ngIf="objcontact.length !== 0 && !showLoad" class="content-page p-4 col-12">
  <gb-toast-message></gb-toast-message>
  <gb-modal-contact></gb-modal-contact>
  <gb-headers-page (emitterSearch)="reseivedSearch($event)" [typeModelHeaders]="typeModule"></gb-headers-page>
  <gb-modal-delete (delete)="deleteRegister($event)"></gb-modal-delete>
  <header class="d-flex bd-highlight">
    <div class="p-2 col-name">
      Nomedd
    </div>
    <div class="p-2 col-email">
      E-mail
    </div>
    <div class="p-2 col-phone">
      Telefone
    </div>
    <div class="p-2 col-empresa">
      Empresa
    </div>
    <div class="p-2 col-register-date">
      Data cadastro
    </div>
    <div class="col-action">
    </div>
  </header>
  <div class="list-content" *ngFor="let contact of objcontact; let i=index">
    <div class="d-flex py-3 bd-highlight painel-list">
      <div class="px-2 py1 col-name font-bold">
       {{ contact.name }}
      </div>
      <div class="px-2 py1 col-email">
        {{ contact.email }}
      </div>
      <div class="px-2 py1 col-phone">
        {{ contact.phone | mask: '(99) 9 99999-9999 || (99) 99999-9999' }}
      </div>
      <div class="px-2 py1 col-empresa">
        {{ contact.companyName }}
      </div>
      <div class="px-2 py1 col-register-date">
        {{ contact.createdAt | date: 'dd/MM/yy'}}
      </div>
      <div class="px-2 py1 item-action">
        <i class="mx-1 p-1 lapis icon-Edit" (click)="editContact('Editar', contact.id)"></i>
        <i (click)="deleteContactRegister('contact' ,contact.id)" class="mx-1 p-1 icon-trash"></i>
      </div>
    </div>
    <div>
    </div>
  </div>

</div>

<div *ngIf="showLoad" class="d-flex align-items-center flex-column bd-highlight mb-3 general">
  <gb-loader></gb-loader>
</div>

<div *ngIf="objcontact.length === 0 && !showLoad" class="d-flex align-items-center flex-column bd-highlight mb-3 general">
  <div class="p-2 pr-0 bd-highlight">
    <img src="../../../assets/images/caneca.svg">
  </div>
  <div class="p-2 bd-highlight">
    <h4>Nenhum contato cadastrado</h4>
    <span>Após o primeiro cadastro, você poderá visualizar aqui.</span>
  </div>

</div> -->
