<ng-template  #content let-c="close" let-d="dismiss">
	<div class="modal-header" ngbAutofocus>
		<button type="button" class="btn-close" style="outline: none;" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body d-flex justify-content-center align-items-center flex-column py-0">
    <i [ngClass]="buttonName === 'Logout' ? 'icon-SignOut icon': 'icon-check'"></i>
		<h4> {{ typeConfirm }}</h4>
    <p> {{ messageConfirm }}</p>
	</div>
	<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"><i class="icon-close" icon-SignOut icon></i> Cancelar</button>
	<button type="button" class="btn btn-outline-dark delete margin-l-16" (click)="salvar('Save click')"><i class="icon-check"></i> {{ buttonName }}</button>
	</div>
</ng-template>
