<div class="menu">
    <h3>Configurações</h3>
    <h4><i class="icon-settings"></i> Geral</h4>
    <div class="under-line-menu"></div>
    <ul>
      <li [routerLink]="['/tag']" routerLinkActive="active">
        Tags
      </li>
    </ul>
    <h4><i class="icon-ticket"></i> Tickets</h4>
    <div class="under-line-menu"></div>
    <ul>
      <li [routerLink]="['/category']" routerLinkActive="active">
        Categoria
      </li>
    </ul>
    <h4><i class="icon-Whatsapp"></i> WhatsApp</h4>
    <div class="under-line-menu"></div>
    <ul>
      <li [routerLink]="['/number-whatsapp']" routerLinkActive="active">
        Grupos
      </li>
      <li [routerLink]="['/teams']" routerLinkActive="active">
        Equipes
      </li>
      <li [routerLink]="['/quick-answers']" routerLinkActive="active">
        Repostas rápidas
      </li>
    </ul>
  </div>
