<div class="main">
  <div class="container">
    <div class="row">
      <div class="img display-flex-all-center">
        <img src="../../../assets/images/logo.svg"/>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <h1>Redefinir senha</h1>
      </div>
      <div class="row">
        <div class="input-group margin-medium-bottom-16px">
          <span>Informe o e-mail para o qual deseja redefinir a sua senha!</span>
        </div>
      </div>
      <form [formGroup]="registrationForm">
        <div class="row">
          <div class="input-group">
            <label for="email">Seu e-mail de acesso *</label>
            <input class="form-control" type="email" formControlName="email" placeholder="email@exemplo.com">
          </div>
        </div>
        <div class="row">
            <div class="input-group margin-medium-bottom-48px">
              <span>Você receberá um e-mail no endereço informado para criar uma nova senha.</span>
            </div>
        </div>
        <div class="row">
         <div class="input-group margin-medium-bottom-48px">
            <button [disabled]="(!registrationForm.valid)" (click)="sendEmail()"><span>Enviar</span><i class="icon-Right arrowButton"></i></button>
         </div>

          <div class="d-flex justify-content-center">
            <a class="remember" (click)="goLogin()"><i class="icon-Left underscore"></i><span>Voltar</span></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
