<gb-toast-message></gb-toast-message>
<ng-template #content let-modal>
	<div class="modal-header" ngbAutofocus>
		<h4 class="modal-title"><i [ngClass]=" title === 'Editar' ? 'icon-Edit' :'icon-people'"></i> {{ title }} contato</h4><hr size="4" width="41%" align="left" color="#404252"><span>*Campos obrigatórios</span>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="contactForm">
      <div class="row margin-top-20px">
        <div class="col-md-6">
          <label for="name" class="form-label">Nome *</label>
          <input type="text" formControlName="contactName" class="form-control" placeholder="Digite um nome para o contato">
        </div>

        <div class="col-md-6">
          <label for="name" class="form-label">E-mail</label>
          <input type="text" formControlName="email" class="form-control" placeholder="nome@email.com">
        </div>
      </div>

      <div class="row margin-top-20px">
        <div class="col-md-6">
          <label for="name" class="form-label">Celular *</label>
          <input type="text" formControlName="phone"
          class="form-control"
          placeholder="XX XXXXX-XXXX"
          mask="(00) 0 00000-0000">
        </div>

        <div class="col-md-6">
          <label for="name" class="form-label">Empresa</label>
          <gb-drop-down-contact-company [selectCompany]="companyId" [dataCompanyGroup] = "objectCompany" (outDropDownDataCompany)="getSelectedCompany($event)" ></gb-drop-down-contact-company>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="cancelRegister()"><i class="icon-close"></i> Cancelar</button>
		<button type="button" [disabled]="!contactForm.valid || !dropIsOk" class="btn btn-light button-active" (click)="saveRegister()"><i class="icon-check"></i> {{ titleButton }}</button>
	</div>
</ng-template>
