<gb-modal-teams></gb-modal-teams>
<gb-menu-configuration></gb-menu-configuration>
<gb-toast-message></gb-toast-message>
<gb-modal-delete (delete)="deleteRegister($event)"></gb-modal-delete>
<gb-headers-page [typeModelHeaders]="typeModule"></gb-headers-page>
<div  *ngIf="objTeams.length !== 0 && !showLoad" class="content-page p-4">
  <header class="d-flex bd-highlight">
    <div class="p-2 col-marking align-items-center">

    </div>
    <div class="p-2 col-name align-items-center">
      Nome
    </div>
    <div class="p-2 col-bot align-items-center">
      Chatbot
    </div>
    <div class="p-2 col-date d-flex align-items-center justify-content-end">
      Data criação
    </div>
    <div class="p-2 col-status align-items-center">
      Status
    </div>
    <div class="p-2 col-action d-flex justify-content-center align-items-center">

    </div>
  </header>
  <div class="list-content">
    <div class="d-flex py-3 bd-highlight painel-list" *ngFor="let teams of objTeams; index as i">
      <div class="px-2 py1 col-marking d-flex align-items-center">
       <div class="elipse" [ngStyle]="{'background-color': teams.color }"></div>
      </div>
      <div class="px-2 py1 col-name d-flex align-items-center">
        {{ teams.name }}
      </div>
      <div class="px-2 py1 col-bot d-flex align-items-center">
        {{ teams.chatbot }}
      </div>
      <div class="px-2 py1 col-date d-flex align-items-center justify-content-end">
        {{ teams.createdAt | date: 'dd/MM/yy' }}
      </div>
      <div class="px-2 py1 col-status d-flex justify-content-center align-items-center">
        <div class="form-check form-switch">
          <input class="form-check-input coston-switch" type="checkbox" [checked]="teams.status" (change)="activeTeams($event, teams.id)" id="switchBotGreeting">
        </div>
      </div>
      <div class="p-2 py1 col-action">
        <i class="mx-1 p-1 pencil icon-Edit" (click)="editTeams('Edit', teams.id)"></i>
        <i class="mx-1 p-1 icon-trash trash" (click)="showModalDelete('teams', teams.id)"></i>
      </div>
    </div>
    <div>
    </div>
  </div>

</div>

<div *ngIf="showLoad" class="d-flex align-items-center flex-column bd-highlight mb-3 general">
  <gb-loader></gb-loader>
</div>

<div *ngIf="objTeams.length === 0 && !showLoad" class="d-flex align-items-center flex-column bd-highlight mb-3 general">
  <div class="p-2 pr-0 bd-highlight">
    <img src="../../../assets/images/caneca.svg">
  </div>
  <div class="p-2 bd-highlight">
    <h4>Nenhum contato cadastrado</h4>
    <span>Após o primeiro cadastro, você poderá visualizar aqui.</span>
  </div>
</div>
