@import "../../../assets/scss/index.scss";

.modal-header {
    font-family: $font-family-regular;
    color: $color-primary-gry-400;
    border-bottom: none;

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  i {
    background-color: $color-primary-blue-100;
    color: $color-primary-blue-200;
    padding: $v-small-8px;
    border-radius: $v-medium-48px;

  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  span {
    font-weight: 400;
    font-size: .75rem;
    margin-left: $v-small-16px;
  }
  button {
    margin-right: $v-small-16px;
  }

}

.modal-body {
  font-family: $font-family-light;
  padding: 0 $v-medium-32px;
  color: $color-primary-gry-400;

  label {
    margin-bottom: $v-small-4px;
  }
  input {
    height: 2.75rem;
  }

  .coston-switch {
    width: 2.6rem;
    height: 1.3rem;
    margin-right: .5rem !important;
    cursor: pointer;
  }

  .disclaimer {
    font-size: 14px;
    color: $color-primary-gry-300;
  }

  input:focus, textarea:focus {
    box-shadow: $shadow-small;
    border: 0.5px solid $color-primary-blue-200;
  }

  input:-ms-input-placeholder  {
    font-size:0.875rem;
    font-family: $font-family-light;
    font-style: italic;
  }

  input::-webkit-input-placeholder {
    font-size:0.875rem;
    font-family: $font-family-light;
    font-style: italic;
  }

  input:-moz-placeholder {
    font-size:0.875rem;
    font-family: $font-family-light;
    font-style: italic;
  }

/* firefox 19+ */
  input::-moz-placeholder {
    font-size:0.875rem;
    font-family: $font-family-light;
    font-style: italic;
  }

  .badge-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .625rem .325rem .625rem 0;
    padding: .3rem .8rem;
    width: 11.25rem;
    background-color: $color-primary-gry-100;
    border: .0625rem solid $color-primary-gry-400;
    font-size: .75rem;
    color: $color-primary-gry-400;
    border-radius: .9rem;
    font-weight: 600;

    .close {
      cursor: pointer;
    }

  }
}

.modal-footer {
  font-family: $font-family-light;
  border-top: none;
  padding: 28px;

  button {
    background-color: $color-primary-gry-0;
    border: 1px solid $color-primary-gry-300;
    font-size: .875rem;
    font-weight: 400;
    font-family: $font-family-light;
    color: $color-primary-gry-300;

  }

  button:disabled {
    background-color: $color-primary-gry-100;
    border: 1px solid $color-primary-gry-200;
    font-size: .875rem;
    font-weight: 400;
    font-family: $font-family-light;
    color: $color-primary-gry-200;

  }

  .button-active {
    background-color: $color-primary-blue-200;
    border: none;
    font-size: .875rem;
    font-weight: 400;
    font-family: $font-family-light;
    color: $color-primary-gry-0;
  }

  .button-edit {
    border: 1px solid $color-primary-blue-200;
    color: $color-primary-blue-200;
    background-color: $color-primary-gry-0;
  }
}

.margin-top-20px {
  margin-top: $v-medium-20px;
}

.margin-bottom-20px {
  margin-bottom: $v-medium-20px !important;
}

.position-relative {
  position: relative;
}

.disable-component {
  pointer-events: none;
}
